:root {
    --base: #FC644D;
    --spacing: 10px;
    --blur: 10px;
}

html {
    min-width: 100vh;
    min-height: 100vw;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

img {
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
    box-sizing: border-box;
    width: 100%;
}

.hl {
    color: var(--base);
}

.controls {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 2rem auto;
}

label {
    margin-bottom: .25rem;
}

input {
    margin-bottom: 1rem;
}
