html {
  box-sizing: border-box;
  background:#F3F3F3;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}
.panel {
  background:#ABABAB;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;
}
.panel1 { background-image:url(https://source.unsplash.com/XN_CrZWxGDM/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/W6sqUYlJRiw/1500x1500); }
.panel3 { background-image:url(https://source.unsplash.com/2oFdVd00xOg/1500x1500); }
.panel4 { background-image:url(https://source.unsplash.com/3JZeW3rtg6E/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/pFqrYbhIAXs/1500x1500); }
.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.panel p {
  font-family: serif;
  font-style: italic;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}
.panel.open {
  flex: 5;
  font-size:30px;
}

.panel > p:first-child {
  transform: translateY(-100%);
}
.panel > p:last-child {
  transform: translateY(100%);
}
.panel.text > p:first-child {
  transform: translateY(0);
}
.panel.text > p:last-child {
  transform: translateY(0);
}

.cta {
  color:white;
  text-decoration: none;
}
